<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redisConfigs" type="RedisClient.RedisConfigInfo, RedisClient" />
  </configSections>
  <redisConfigs>
    <add SectionName="Menu" SocketAddress="local" SecuredPort="6379" Password="2018" SyncTimeout="6000" Ssl="false" CurrentDatabase="7"/>
  </redisConfigs>
</configuration>
